body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212; /* Dark background */
  color: #ffffff; /* White text */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height to center the form */
}

form {
  background-color: #1e1e1e; /* Darker background for the form */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%; /* Full width up to 400px */
}

/* MUI Component Overrides */
.MuiFormLabel-root {
  color: #ffffff !important; /* White color for form labels */
}

.MuiInputBase-root {
  background-color: #2c2c2c; /* Darker background for text fields */
  border-radius: 5px;
}

.MuiInputBase-input {
  color: #ffffff; /* White text in inputs */
}

.MuiButton-root {
  background-color: #3f51b5; /* Primary button color */
  color: #ffffff; /* White text for button */
  margin-top: 20px;
}

.MuiButton-root:hover {
  background-color: #2c387e; /* Darker button on hover */
}
